[% MACRO link(text) GET "L<$text|$text>" -%]

=head1 DESCRIPTION

[% USE wrap; page.intro | wrap(72) %]

=head2 Resources

[% PROCESS misc/resources %]

=head2 Projects

[% PROCESS misc/projects %]



